body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background: #152b2a !important;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
  color: white;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
